@media (max-width: 1024px) {
  .menu {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    top: 50px;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
    // transform: translateY(-110%);
    transform: translateX(-110%);
    ul:first-child {
      padding: 0 4rem 0;
    }
    ul:last-child {
      padding: 0 4rem 4rem;
    }
  }
}

.active {
  // transform: translateY(0%);
  transform: translateX(0%);
}
